<%- include('../partials/header') %>
<section>



  <div class="newEditContainer">
  
    <div class="h1Container"><h2>Edit Your Task</h2></div>
  
  <!-- enctype="multipart/form-data"  this is for uploading images -->
  <form action="/tasks/<%= task._id %>?_method=PUT"  enctype="multipart/form-data" method="POST" class="row g-3"   >

   
    <div class="col-md-6">
      <label class="form-label">Title</label>
      <input type="text" name="title" value="<%= task.title %>"  required class="form-control" id="inputEmail4">
    </div>

    <div class="col-md-6">
      <label  class="form-label">Date</label>
      <input type="date" name="date" 
      value="<%= task.date.toISOString().split('T')[0] %>"  
      required class="form-control" id="inputPassword4">
    </div>

   
  
    <div class="col-12">
      <label for="inputAddress" class="form-label">Address</label>
      <input type="text" name="address" value="<%=task.address%>" required class="form-control" id="inputAddress" >
    </div>
   
    <div class="mb-3">
      <label class="form-label">Details</label>
      <textarea name="details" required class="form-control" id="exampleFormControlTextarea1" rows="3"><%= task.details %></textarea>
    </div>
  
    <div class="mb-3">
      <label class="form-label">Image</label>
      <input name="images" class="form-control" type="file" id="formFileMultiple" 
      value="<%= task.images %>"
      multiple
       >
    </div>

    <div class="mb-3">
      <label class="form-label">Current Images</label>
      <div class="current-images">
        <% if(task.images && task.images.length) { %>
          <% task.images.forEach(function(image) { %>
            <div class="image-container">
              <img src="<%= image %>" alt="Task Image" style="width: 100px; height: auto;"> <!-- Adjust the size as needed -->
            </div>
          <% }) %>
        <% } else { %>
          <p>No images to display.</p>
        <% } %>
      </div>
    
  
    <div class="col-12">
      <label class="form-label">Budget </label>
      <input type="number" name="budget" value="<%= task.budget %>" required class="form-control" id="inputAddress" placeholder="$">
    </div>
  
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
  
  </div>
  
  
  <%- include('../partials/footer') %>
  


