<%- include('../partials/header') %>
 
<br>

  <div class="container-fluid">
 <% if(showSearchForm ){ %>
  <div class="search-container">
  <form  class="d-flex" role="search" action="/tasks/searched-tasks" method="GET">
    <input class="form-control me-2" type="search" name="title"  placeholder="Search for a task" aria-label="Search" required>
     <button class="btn btn-outline-success" type="submit">Search</button>
   </form>
  </div>
   <% } %>
  </div>

 <br>
 <br>



  <div class="h1Container">
    <h2>
      <% if(showSearchForm) { %>
        <%= titleSearch ? "Results for: " + titleSearch : "All Tasks" %>
      <% } else { %>
        My Post
      <% } %>
    </h2> 
  </div>
  

<div class="taskTable">      

<%  if(tasks.length>0){%>
  <% tasks.forEach((task)=>{ %>
    <div class="card w-75 mb-3">
      <h5 class="card-header"><%= task.title %></h5>
      <div class="card-body">
        

        <p class="card-text"><img src="/images/route.png" alt="location" width="30" height="24"><%= task.location %></p>
        <p class="card-text"><p> <img src="/images/calendar.png" alt="date" width="30" height="24"> <%= task.date.toISOString().split('T')[0] %></p>
        <a class="btn btn-primary btn-wide" href="/tasks/<%= task._id %>">Open</a>
      </div>
    </div>
<%  }) %>
<% } else{%>
  <div class="card" >
    <h5 class="card-header">No Task</h5>
  </div>
 <%   }%>






</div>



  
<%- include('../partials/footer') %>