<%- include('../partials/header') %>

<section >
  <div>Title: </div>
  <div><%= task.title %></div>
  <div>Date: </div>
  <div><%= (new Date(task.date)).toLocaleDateString() %></div>
  <div>Location: </div>
  <div><%= task.location %></div>
  <div>Details: </div>
  <div><%= task.details %></div>
  <div>Image: </div>
  <div><%= task.image %></div>
  <div>Budget: </div>
  <div><%= task.budget %></div>


  <div>
    <% if(!task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id) ){  %>
      <form action="/tasks/my-accept-list/<%= task._id %>" method="POST">
       <button type="submit">Accept</button> </a>
     <% }   %>
    </form>
    </div>

   <div>
 <!--  toggle with accept button  -->
 <% if(task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id)){  %>
      <form action="/tasks/my-accept-list/<%= task._id %>?_method=DELETE" method="POST">
      <button type="submit">Cancel Accept</button>
    </form>
    <% }   %>
   </div>
  
    <div>
    <%  if(user?._id.equals(task.myPost)) 
    {%>
      <a href="/tasks/<%= task._id %>/edit"><button type="submit">Edit</button></a>

      <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </form>
   
   <%  }%>
  </div>

</section>



<%- include('../partials/footer') %>