<%- include('../partials/header') %>



<section >

<!-- taskshow -->



<div class="taskShow"> 
<div class="card mb-3">
  <div class="row g-0 row-equal-height">
    <div class="col-md-4">
      <img src="/images/kitchen.jpg" class="img-fluid img-full-height rounded-start" alt="kitchen">
    </div>
    <div class="col-md-8">
      <div class="edit-delete-btns">
        <% if(user?._id.equals(task.myPost)) { %>
          <form action="/tasks/<%= task._id %>/edit" method="get" style="display: inline;">
            <button type="submit" class="btn btn-warning btn-sm">Edit</button>
          </form>
          <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" style="display: inline;">
            <button type="submit" class="btn btn-danger btn-sm" aria-label="Delete">Delete</button>
          </form>
        <% } %>
      </div>
      <div class="card-body d-flex flex-column">
        <h5 class="card-title"><%= task.title %></h5>
        <h6 class="card-title">
          <img src="/images/cash.png" alt="dollar-symbol" width="30" height="24"> <%= task.budget %>
        </h6>
        <p>
          <img src="/images/route.png" alt="location" width="30" height="24"> <%= task.location %>
        </p>
        <p class="card-title">
          <img src="/images/calendar.png" alt="date" width="30" height="24"> <%= (new Date(task.date)).toLocaleDateString() %>
        </p>
        <p><%= task.details %></p>
        <p class="card-text mt-auto">
          <small class="text-body-secondary">Posted at: <%= task.createdAt.toLocaleDateString() %></small>
        </p>
      </div>

      <div class="accept-cancel-btns">
        <% if(!task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id) ){  %>
          <form action="/tasks/my-accept-list/<%= task._id %>" method="POST">
            <button type="submit" class="btn btn-primary btn-sm">Accept</button>
          </form>
        <% } %>
        
        <% if(task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id)){  %>
          <form action="/tasks/my-accept-list/<%= task._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-secondary btn-sm">Cancel Accept</button>
          </form>
        <% } %>
      </div>


    </div>
  </div>
</div>
</div>  




<!-- <div class="taskShow">
  <div class="card mb-3">
    <img src="/images/kitchen.jpg" class="card-img-top" alt="kitchen">
    <div class="card-body">
      <div class="btn-container">
       
        <% if(user?._id.equals(task.myPost)) { %>
          <form action="/tasks/<%= task._id %>/edit" method="get">
            <button type="submit" class="btn btn-warning btn-sm">Edit</button>
          </form>
          <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
          </form>
        <% } %>
       
        <% if(!task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id)){ %>
          <form action="/tasks/my-accept-list/<%= task._id %>" method="POST">
            <button type="submit" class="btn btn-primary btn-sm">Accept</button>
          </form>
        <% } %>
        <% if(task.acceptedTasks.includes(user._id) && !task.myPost.equals(user._id)){ %>
          <form action="/tasks/my-accept-list/<%= task._id %>?_method=DELETE" method="POST">
            <button type="submit" class="btn btn-secondary btn-sm">Cancel Accept</button>
          </form>
        <% } %>
      </div>
      <h5 class="card-title"><%= task.title %></h5>
      <p class="card-text"><%= task.details %></p>
      <p class="card-text">
        <small class="text-body-secondary">Posted at: <%= task.createdAt.toLocaleDateString() %></small>
      </p>
    </div>
  </div>
</div> -->



<!--   question show-->

<% if (task.questions.length) { %>
  <% task.questions.forEach(function(question) { %>
    <div class="card w-75 mb-3 questionShow" >
      <% if (user?._id.equals(question.user)) { %>
        <form action="/questions/<%= question._id %>?_method=DELETE" method="POST" class="position-absolute top-0 end-0 mt-2 me-2">
          <button type="submit"  class="btn-close btn-sm" aria-label="Close"></button>
        </form>
      <% } %>
      <div class="card-body">
        <p class="card-text"><img class="rounded-circle me-2" alt="avatar" src="<%= question.userAvatar %>" referrerpolicy="no-referrer" style="width: 35px; height: 35px; object-fit: cover;">
          <strong><%= question.userName %></strong><%= question.content %></p>
        <div class="mt-4 d-flex justify-content-between">
          <small class="text-muted">Posted at: <%= question.createdAt.toLocaleDateString() %></small>
          <% if (user?._id.equals(question.user)) { %>
            <form action="/questions/<%= question._id %>/edit" method="get" style="display: inline;">
              <button type="submit" class="btn btn-primary btn-sm">Edit</button>
            </form>
          <% } %>
        </div>
      </div>
    </div>
  <% }); %> 
<% } %>





<!-- ask question  -->

<div class="questionContainer">

<form action="/tasks/<%= task._id %>/questions" method="POST">
  <div class="mb-3">
    <label class="form-label">Questions</label>
    <textarea class="form-control"  name="content" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit"  class="btn btn-primary btn-question">Ask question</button>
</form>
</div>




</section>



<%- include('../partials/footer') %>